.home{
  width: 100%;
  background: lightgreen;
  height: 400px;
}

.products{
  width: 100%;
  height: 400px;
  background: lightcoral;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
}

.navbar{
  width: 100%;
  height: 50px;
  background: lightseagreen;
}

.productitem{
  background: lightyellow;
  height: 140px;
  width: 200px;
}