.home{
  width: 100%;
  background: lightgreen;
  height: 400px;
}

.products{
  width: 100%;
  height: 600px;
  background: lightcoral;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
}

.navbar{
  width: 100%;
  height: 50px;
  background: lightseagreen;
}

.productitem{
  background: lightyellow;
  height: auto;
  width: fit-content;
} 

.product-img{
  height: 90px;
  width: auto;
}

.profile{
  width: 100%;
  height: 500px;
  background-color: lightyellow;
}